[build]
command = "npm run build"
publish = "dist"
functions = "Netlify/functions"

[functions]
node_bundler = "esbuild"

[dev]
command = "parcel public/index.html --port 9501 --no-cache"  # Command to start Parcel
port = 9500  # Port where netlify dev serves the app - ALWAYS USE THIS PORT FOR DEVELOPMENT
targetPort = 9501  # Port where Parcel is running (internal only, do not access directly)
publish = "dist"  # Parcel's output directory (adjust if different)